/* COLORES
  Negro: #121212
  Beige: #F4D1B5
  Beige-light: #F0E9E4
  Gris: #EDF2F7
*/

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background-color: #F0E9E4; */
  background-image: linear-gradient(to bottom right, #F4D1B5,#F0E9E4);
  font-family: 'Open Sans', sans-serif;
  color: #121212;
}

header {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1502773860571-211a597d6e4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1508186736123-44a5fcb36f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1587731556938-38755b4803a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1514&q=80); */
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-title {
  margin: 0px 0px 0px 30px;
  font-family: 'Audiowide', cursive;
  color: #F4D1B5;
  text-decoration: none;
}

#nav-menu {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-item {
  margin: 15px 25px;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu-item a {
  padding-bottom: 5px;
  text-decoration: none;
  color: #FFF;
  border-bottom: solid 2px #F4D1B500;

}

.nav-menu-item a:hover {
  color: #F4D1B5;
  border-bottom: solid 2px #F4D1B5;
}

#header-banner {
  margin-left: 50px;
}

#header-banner-title {
  padding-top: 15%;
  margin: 0;
  font-family: 'Audiowide', cursive;
  font-size: 42px;
  text-shadow: -3px 5px #000;
  color: #F4D1B5;
}

#header-banner-text {
  width: 500px;
  font-size: 18px;
  color: #FFF;
  text-shadow: 0px 0px 25px #000;
}

main {
  padding: 0px 5%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b2936e' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  padding: 10px;
  width: 100%;
  background-color: #121212;
  font-family: 'Audiowide', cursive;
  color: #F4D1B5;
}

.productos {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.marco {
  display: flex;
  overflow: hidden;
}

img {
  margin: 0;
  width: 280px;
}

img:hover{
  transform: scale(1.2);
  transition-duration: 0.8s;
}

article {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

article h3 {
  margin: 0;
  padding: 10px;
  background-color: #121212;
  color: #FFF;
  display: flex;
  justify-content: center;
}

form {
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: solid 2px red; */

}

.form-campo {
  padding: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px 0px;
}

input, textarea {
  padding: 10px 20px;
  background-color: #EDF2F7;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  border: 0.2px solid #12121210;
  border-radius: 5px;
  resize:none;
}

input:focus, textarea:focus {
  outline: none;
  border: 0.2px solid #F4D1B5;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #121212;
  color: #F4D1B5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button:active {
  transform: scale(0.98);
}

footer {
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: #121212;
  color: #F4D1B5;
  display: flex;
  align-items: center;
  justify-content: center;
}